

main{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
    justify-self: center;
    
    
}
div{
    height: 500px;
    width: 380px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 25px;
}
.d1{
    
}

.d2{
   
}

.d3{
    
}

.d4{
    
}

.d5{
    
}
article{
    width: 10px;
}
